---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.92;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    60%;

$on-palm:          $content-width;
$on-laptop:        $content-width;

header {position: fixed; left: 5%; right: -5%; top: 5%; width: 25%;}
header h1 { margin-bottom: 5px; }
header h1 a { color: #494949; font-weight: bold; }
header h3 { margin-top: 20px; margin-bottom: 5px; }
header p.view { margin-bottom: 5px; }
header p.view small { padding-top: 2px; }

footer{position: fixed; left: 5%; right: -5%; bottom: 5%; margin-top: -17%;}

#homeim{width: 50%;}

#sound{h2 a {color: #494949;}}


@mixin media-query($device) {
@media screen and (max-width: $device) {
@content;
}
}

// ipad portrait
@media only screen and (max-width: 780px) {

	header {width: 5%;}
	footer{position:fixed;bottom:1%;}
	#mick{display:none;}
	#homeim{margin-left:35%;margin-top: 10%;}
	#vid {width: 392px; height:220px;}
	#sound {padding-left:20%;}
	#rightquote{font-size:80%;width:100%;left:15%;}
	.wrapper{max-width: 70%;left:5%;}
}



// ipad landscape
@media only screen and (max-width: 1030px) {

	header {width: 100%;}
	footer{position:fixed;bottom:1%;}
	#homeim{width:50%;margin-left:40%;}
	#mick{display:none;}
}

// 1024768
@media only screen and (max-width: 1030px) and (max-height: 600px) {

	#homeim{width:40%;margin-left:50%;}
}

// 6 landscape
@media only screen and (max-width: 670px) {

	footer {margin-top:-10%;}
	header {position: relative;}
	#homewrap {display:none;}
	#vid {width: 392px; height:220px; padding-right:2%;}
}

// 6 portrait
@media only screen and (max-width: 480px) {

	footer {bottom: 5%;}
	#homewrap {display:none;}
        #vid {display: none;}
	#sound {width: 100%; font-size: 70%; left:70%;}
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
